.footer {
    height: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.ft-btn {
    padding: 5px;
    width: 5rem;
    border-radius: 2px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}